#container{
  padding:3vw;
}
#input{
  width:40vw;
  height:35px;
  margin-bottom: 2vh;
  border:1px  solid #000000;
  border-radius: 4px;
} 
#submit{
  width:36vw;
  height:40px;
}
#flex-buttons,.flex-container{
  display:flex;
  justify-content: center;
}
.flex-container {
  row-gap: 5px;
  column-gap: 5px;
  height: 100%;
  padding:2vh 20vw 5vh 20vw;
  flex-wrap: wrap;
}
.flex-container > div{
  background: hsl(160, 66%, 37%);
  font-size: 12px;
  color:white;
  padding: 14px;
  align-items: center;
}
#flex-buttons{
  column-gap: 50px;
}
.flex-container > div, #oddbutton,#evenbutton,#submit{
  border:1px  solid #000000;
  border-radius: 4px;
}
#oddbutton,#evenbutton,#submit{
  background: hsl(120, 100%, 71%);
  font-size: 13px;
  color:rgb(0, 0, 0);
  padding: 8px 14px 8px 14px;
}
#heading,#result-heading{
   font-size:7vh;
}
#result-heading{
   padding-top:5vh;
   margin-bottom: 5px;
}
